<mat-card class="main-tasks">
  <div *ngIf="loadingTasks">
    <mat-spinner></mat-spinner>
  </div>
  <mat-toolbar *ngIf="tasks.length === 0 && !loadingTasks">
    <p>There is nothing</p>
  </mat-toolbar>
  <div *ngFor="let _task of tasks">
    <app-task-detail [task]="_task"></app-task-detail>
  </div>
</mat-card>
