<mat-card>
  <mat-card-content>
    <strong>Id: {{team.id}}</strong>
    <strong>Name: {{team.name}}</strong>
    <strong>CreateAt: {{team.createAt | date:'dd MMMM, Y'}}</strong>
    <button  mat-icon-button  color="primary">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button  color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
