<mat-card class="main-teams">
  <div *ngIf="loadingTeams">
    <mat-spinner></mat-spinner>
  </div>
  <mat-toolbar *ngIf="teams.length === 0 && !loadingTeams">
    <p>There is nothing</p>
  </mat-toolbar>
  <div *ngFor="let _team of teams">
    <app-team-detail [team]="_team"></app-team-detail>
  </div>
</mat-card>
