<mat-card class="project-container">
  <mat-card-header>
    <mat-card-title>
      <strong>Project: {{project.name}}</strong>
      <strong>Author: {{project.author.firstName}} {{project.author.lastName}}</strong>
      <strong>Team: {{project.team.name}}</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="project-content" >
    {{project.description}}
  </mat-card-content>
  <mat-card-footer>
    <strong>Deadline: {{project.deadline | date:'dd MMMM, Y'}}</strong>
    <strong>Create: {{project.createAt | date: 'dd MMMM, Y'}}</strong>
    <button  mat-icon-button  color="primary" (click)="projectUpdate()">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button  color="primary"
            (click)="projectDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>

