<mat-card class="main-users">
  <div *ngIf="loadingUsers">
    <mat-spinner></mat-spinner>
  </div>
  <mat-toolbar *ngIf="users.length === 0 && !loadingUsers">
    <p>There is nothing</p>
  </mat-toolbar>
  <div *ngFor="let _user of users">
    <app-user-detail [user] = "_user"></app-user-detail>
  </div>
</mat-card>
