<mat-card class = "main-projects">
  <div *ngIf="loadingProjects">
    <mat-spinner></mat-spinner>
  </div>
  <mat-toolbar *ngIf="projects.length === 0 && !loadingProjects">
      <p>There is nothing</p>
  </mat-toolbar>
  <div *ngFor="let _project of projects">
    <app-project-detail [project]="_project"></app-project-detail>
  </div>

</mat-card>
