<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong>Task:{{task.name}}</strong>
      <strong>Performer:{{task.performer.firstName}} {{task.performer.lastName}}</strong>
      <strong>Project:{{task.project.name}}</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="tasks-content">
    {{task.description}}
  </mat-card-content>
  <mat-card-footer>

    <strong>Tasks: {{task.state}}</strong>
    <strong>FinishAt: {{task.finishedAt | date:'dd MMMM, Y'}}</strong>
    <strong>Create: {{task.createAt | date: 'dd MMMM, Y'}}</strong>
    <button  mat-icon-button  color="primary">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button  color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
