

  <nav>
      <div>
        <h2>
        <a routerLink="/projects">Project</a>


        <a routerLink="/project/tasks">Tasks</a>


        <a routerLink="/teams">Teams</a>


        <a routerLink="/users">Users</a>
        </h2>
      </div>
  </nav>
  <router-outlet></router-outlet>



