<mat-card>

    <mat-card-title>
    <strong>Id: {{user.id}}</strong>
    <strong>User: {{user.firstName}} {{user.lastName}}</strong>
    <strong>Birthday: {{user.birthDay | date: 'dd MMMM, Y'}}</strong>
    </mat-card-title>
    <mat-card-footer>
    <strong>Email: {{user.email}}</strong>
    <strong>Registration: {{user.createAt | date: 'dd MMMM, Y'}}</strong>

    </mat-card-footer>
  <mat-card-footer>
    <button  mat-icon-button  color="primary">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button  color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-footer>


</mat-card>
