mat-card {
  background-color: bisque;
  border-radius: 2rem;
  padding: 2rem;
  margin: 0.5rem;
  max-width: 42rem;
}

strong {
  padding: 0.5rem;
  border: solid 0.1rem red;
  border-radius: 1rem;
  margin: 1rem;
}
mat-card-title {
  padding-bottom: 1rem;
}
mat-card-footer {
  padding: 1rem;
}
button {
  margin: 0.2rem;
}
